.first-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em 15em 4em;
   
}

.first-article-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 3.2em;
    text-align: center;
    margin-bottom: 0;
}

.first-article-text{
    max-width: 90ch;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    color: #d3d3d3;
    margin-bottom: 0;
}

.main-section{
    display: flex;
    justify-content: center;
    gap: 3.2em;
    margin: 0 30em;
}

.section-models{
    text-align: center;
    margin-bottom: 5em;
}



.section-names{
    width: 100px;
    height: 100px;
    padding: 80px;
    margin-top: 0;
    background-color: black;
    border: solid white 2px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 5em;
}

.section-names:hover{
    background-color: #1d078a;

}


.names-title_3{
    text-transform: uppercase;
    font-size: 1.0em;
    word-spacing: 0.12em;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0em;
}


.names-description{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.0em;
    line-height: 2em;
    color: #d3d3d3;

}

.models-title_1{
    text-transform: uppercase;
    font-size: 1.6em;
    word-spacing: 0.12em;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #59C0A6;
    margin-bottom: 0em;
}

.models-title_2{
    text-transform: uppercase;
    font-size: 1.6em;
    word-spacing: 0.12em;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #0FBCF9;
    margin-bottom: 0em;
}

.models-title_3{
    text-transform: uppercase;
    font-size: 1.6em;
    word-spacing: 0.12em;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #9C88FF;
    margin-bottom: 0em;
}

.models-description{
    margin-top: 0;
    font-size: 1.2em;
    line-height: 2em;
    color: #d3d3d3;

}

.menu-itens-active{
    background-color: #9C88FF;
    color: black;
    padding: 16px;
    border-radius: 12px;
    pointer-events: none;
   
}